@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	/* background: var(--light-color); */
	margin: 20px;
	background: linear-gradient(120deg, rgb(23, 190, 187), rgb(240, 166, 202));
	overflow: hidden;
	height: 100vh;
}

ul {
	list-style: none;
	font-size: 18px;
}

.dot {
	font-size: 20px;
	color: #34C300;
	font-size: 50px;
	top: 34.5%;
	padding-top: -8px;
	left: 21%;
	padding-left: -8px;
}


a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	/* background: var(--light-color); */
	/* color: var(--dark-color-a);
	c */
	background-color: none;
	color: black;
	/* border: 0; */
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	border: 1px solid white;
	border-radius: 8px;
	max-width: 1100px;
	/* background: #fff; */
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	/* background: var(--dark-color-a); */
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	/* background: var(--dark-color-b); */
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	/* background-color: var(--light-color); */
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: red;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: black;
	padding-left: 5px;
}

.chat-messages .message .text {
	color: white;
	font-size: 18px;
}

.chat-form-container {
	padding: 20px 30px;
	/* background-color: var(--dark-color-a); */
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	border: none;
	outline-width: 0;
	border-radius: 10px;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	border: 1px solid white;
	border-radius: 50px;
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	/* background: var(--dark-color-a); */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	/* background: var(--dark-color-b); */
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	border:none;
    outline-width: 0;
	border-radius: 15px;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	border:none;
    outline-width: 0;
	border-radius: 15px;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	background-color: initial;
	border: 2px solid white;
	/* border-color: white; */
	border-radius: 26px;
	height: 50px;
	margin-top: 20px;
	width: 100%;
	background-color: none;
	margin-top: 20px;
	width: 100%;
}

.join-main .btn:hover {
	/* background-color: linear-gradient(120deg, rgba(181, 32, 37, 0.044), rgb(240, 166, 202)); */
	color: white;
	background-color: #34C300;
}

.leave {
	background-color: initial;
	border: 2px solid white;
	border-radius: 26px;
	height: 50px;
	margin-top: 0px;
	padding-top: 11px;
	background-color: none;
}

.leave:hover {
	/* background-color: linear-gradient(120deg, rgba(181, 32, 37, 0.044), rgb(240, 166, 202)); */
	color: white;
	background-color: red;
}

.send {
	border: none;
	outline-width: 0;
	background-color: white;
	margin-left: 5px;
	border-radius: 79%;
	width: 40px;
}
.send:hover{
	background-color: black;

}
.send:hover .send-fas{
	color: white;
}
.send-fas {
	margin-left: -50%;
	color: #34C300;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}